<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind  -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/minimalScrollBar.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">


    <title>Scraping Projects</title>

    <style>
        body {
            font-family: 'Itim', cursive;
        }
    </style>
</head>
 
<body>
    <div class="w-screen bg-gray-900 snap-x flex py-5 px-5 gap-5 overflow-x-auto justify-center">
        <!--  -->
        <a href="https://steamcommunity.com/app/349040/reviews/?filterLanguage=thai&p=1&browsefilter=trendmonth" target="_blank"
            class="w-96 h-24 scroll-ml-6 flex-shrink-0 snap-start rounded-lg bg-gray-50 transition transform hover:-translate-y-1 cursor-pointer duration-300">
            <div class="w-full h-full flex">
                <div class="pl-3 w-28 h-ful rounded-lg flex justify-center items-center">
                    <img src="logo/steam_logo.png" class="object-fit" alt="">
                </div>
                <div class="w-full h-ful rounded-lg">
                    <p class="w-full h-full text-3xl font-bold flex justify-center items-center">
                        Steam Review
                    </p>
                </div>
            </div>
        </a>
    </div>


    <div class="w-full flex flex-col justify-start p-2">
        <div class="w-full flex flex-row justify-start items-center gap-2">            
            <div class="w-full">
                <input id="steamUrl" type="text" class="w-full f-input" placeholder="กรอก URL ตรงนี้ๆ"
                    value="https://steamcommunity.com/app/349040/reviews/?filterLanguage=thai&p=1&browsefilter=trendmonth"
                >
            </div>
            <div class="">
                <input id="limit" type="number" class="w-full f-input" placeholder="จำกัดจำนวนรีวิว" step="10" >
            </div>
            <div class="w-max">
                <div class="f-btn-primary" onclick="sendUrl()">
                    เริ่มดูด !!
                </div>
            </div>
            <div class="w-max">
                <div class="f-btn-success">
                    อยากได้ .csv อะ
                </div>
            </div>
            <div class="w-max">
                <div class="f-btn bg-yellow-500 hover:bg-yellow-700">
                    ไหนกราฟ
                </div>
            </div>
        </div>

        <div class="w-full">
            <table class="w-full mt-4">
                <thead class="text-lg rounded-3xl border-2 rounded-tr-lg rounded-tl-lg">
                    <tr class="py-3">
                        <th>#</th>
                        <th>รูป</th>
                        <th class="text-left">ชื่อ</th>
                        <th>ข้อความ</th>
                        <th>โหวต</th>
                        <th class="px-2">วันที่</th>
                    </tr>
                </thead>
                <tbody id="tbodyLoop" class="border-2">
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>


    async function sendUrl(){
        let url = document.getElementById('steamUrl')

        await fetch("http://127.0.0.1:4020/api/startScrapingSteamReview", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(
                    {
                        url: url.value
                    }
                )
        }).then(async (res)=>{
            const data = await res.json();
            console.log(data);
            const tbody = document.querySelector("#tbodyLoop");
            // let row = document.getElementById('rowData')
            for (let i = 0; i < data.length; i++) {
                // row
                let row = document.createElement("tr");
                row.classList.add('rowHover')
                row.id = "rowData" + i;

                    // index 
                    let indexField = document.createElement('td');
                    indexField.textContent = i+1;
                    indexField.classList.add('indexField')
                    row.appendChild(indexField);


                    // imageField
                    let imageField = document.createElement('td');
                        let imageBox = document.createElement('img')
                        imageBox.classList.add('imageBox')
                        imageBox.src = data[i].avartar;
                    imageField.appendChild(imageBox)
                    imageField.classList.add('imageField')
                    row.appendChild(imageField);

                    // nameField 
                    let nameField = document.createElement('td')
                    nameField.textContent = data[i].username 
                    nameField.classList.add('nameField')
                    row.appendChild(nameField);

                    // reviewField
                    let reviewsTextField = document.createElement('td')
                    reviewsTextField.textContent = data[i].review
                    row.appendChild(reviewsTextField);

                    //voteField
                    let voteField = document.createElement('td')
                    if(data[i].vote === '+'){
                        voteField.textContent = "บวก"
                        voteField.classList.add('text-green-500')
                    }else{
                        voteField.textContent = "ลบ"
                        voteField.classList.add('text-red-500')
                    }
                    voteField.classList.add('font-bold')
                    voteField.classList.add('indexField')
                    row.appendChild(voteField)

                    // dateField
                    let dateField = document.createElement('td')
                    dateField.textContent = data[i].date
                    row.appendChild(dateField) 

                tbody.appendChild(row);
            }
        })
    }

</script>
</html>