@tailwind base;
@tailwind components;
@tailwind utilities;

.f-btn{
    @apply py-2 px-3 min-w-max text-center text-base text-white rounded-lg cursor-pointer hover:drop-shadow-xl duration-300 ;
}
.f-btn-lg {
    @apply w-28 py-2 px-3 min-w-max text-center text-lg text-white rounded-lg cursor-pointer hover:drop-shadow-xl duration-300 ;
}

.f-btn-primary{
    @apply py-2 px-3 min-w-max text-center text-base text-white rounded-lg cursor-pointer bg-blue-500 hover:bg-blue-700 hover:drop-shadow-xl duration-300    ;
}
.f-btn-primary-lg {
    @apply w-28 py-2 px-3 min-w-max text-center text-lg text-white rounded-lg cursor-pointer bg-blue-500 hover:bg-blue-700 hover:drop-shadow-xl duration-300    ;
}

.f-btn-success{
    @apply py-2 px-3 min-w-max text-center text-base text-white rounded-lg cursor-pointer bg-green-500 hover:bg-green-700 hover:drop-shadow-xl duration-300    ;
}
.f-btn-success-lg {
    @apply w-28 py-2 px-3 min-w-max text-center text-lg text-white rounded-lg cursor-pointer bg-green-500 hover:bg-green-700 hover:drop-shadow-xl duration-300    ;
}

.f-input {
    @apply  py-[8.5px] px-3 bg-gray-100 border border-gray-300 text-black text-sm rounded-lg ring-0 focus:ring-[1.5px] focus:ring-blue-300 focus:outline-none
}

.indexField {
    @apply w-8 min-w-max text-center ;
}

.imageBox {
    @apply rounded-full w-10 h-10 max-w-min object-cover ;
}

.imageField {
    @apply w-10 max-w-min min-w-max; 
}

.nameField {
    @apply w-40 px-4 text-left truncate ;
}

.voteField {
    @apply w-20 px-2 text-center ;
}


.dateField {
    @apply w-40 px-2 text-center ;
}

.rowHover {
    @apply cursor-pointer hover:bg-gray-200 transition transform hover:-translate-y-1 ;
}

.tag {
 
}